FLASK_APP=app
FLASK_ENV=development #Optional

# Once you add your API key below, make sure to not share it with anyone! The API key should remain private.
OPENAI_API_KEY='' #Requirement
# Configuration this file and rename ".env"
