<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="당면행은 AI를 활용하여 자기소개서 기반 면접 질문을 생성해주는 서비스입니다. 직접 면접 질문을 생성해보세요!">
  <meta name="keywords" content="면접, 질문, 생성, AI" />
  <meta name="robots" content="index" />
  <meta property="og:type" content="website"> 
  <meta property="og:title" content="당면행 - AI 기반 면접 질문 생성 서비스">
  <meta property="og:description" content="당면행은 AI를 활용하여 자기소개서 기반 면접 질문을 생성해주는 서비스입니다. 직접 면접 질문을 생성해보세요!">
  <meta property="og:image" content="{{ url_for('static', filename='logo/og_image.png') }}">
  <meta property="og:url" content="https://askrator.com/">
  <meta name="google-site-verification" content="nTpsZGU5cmJv9JqRNFuUXVI0sNSc2od0iq-lW4M5Jro" />
  <meta name="naver-site-verification" content="09d8fceb848baa14af3a3bc32ad0e42eb7731b55" />
  <link rel="canonical" href="https://askrator.com/">
  <link rel="icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
  <title>당면행 - AI 기반 면접 질문 생성 서비스</title>
  
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-4YW0CFXN9D"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-4YW0CFXN9D');
  </script>

  <!-- google ads -->
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1992807553804694" crossorigin="anonymous"></script>

  <!-- bootstrap css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.0/css/bootstrap.min.css" integrity="sha512-NZ19NrT58XPK5sXqXnnvtf9T5kLXSzGQlVZL9taZWeTBtXoN3xIfTdxbkQh6QSoJfJgpojRqMfhyqBAAEeiXcA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- jquery javascript-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- bootstrap javascript-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.0/js/bootstrap.min.js"></script>

  <!-- fonts css -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Black Han Sans&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Orbit&display=swap">

  <!-- toastr css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- toastr javascript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- html2canvas javascript -->
  <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>

  <!-- Custom styles css file -->
  <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
</head>

<body class="text-center">
  <div class="container custom-container">

    <!-- ######################## -->
    <!-- # Header Section Start # -->
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">당신의 면접에 행운이</h3>
        <span style="font-size: 1rem;font-family: sans-serif;">
          AI기반 면접 질문 생성 서비스
        </span>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link active" href="#">Home</a>
          <a class="nav-link" href="#">Features</a>
          <a class="nav-link" href="https://forms.gle/EhH886FNS8VhGi2a9" target='_blank'>Contact</a>
        </nav>
      </div>
    </header>
    <!-- # Header Section End # -->
    <!-- ###################### -->

    <div class="row" style="background: #f5f5f5; margin-right:0; margin-left:0;">
      <div class="col-12 col-md-10 col-lg-8 mx-auto">
        <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">

          <!-- ###################### -->
          <!-- # Main Section Start # -->
          <main role="main" id="mainContent" class="inner cover shadow p-3 mb-4 bg-white rounded">
            <button id="fill-test-data" class="btn btn-success" style="margin-right: 1rem;float: right;font-size: 0.5em;padding: 5px;margin-left: 1px;">
              결과 샘플 미리보기
            </button>
            <form id="personal-statement-form">
              <div class="custom-form-group" style="margin-top: 0; margin-bottom:0;">
                <label for="job_position" class="custom-label">지원하시려는 직무를 입력해주세요.</label>
                <input type="text" id="job_position" class="form-control custom-form-control" placeholder="예: 소프트웨어 엔지니어, 마케팅 전문가..." required>
              </div>
              <div class="custom-form-group" style="margin-top:0;">
                <label for="type-select" class="custom-label">유형 선택</label>
                <select id="type-select" class="form-select" style="font-size: smaller;">
                  <option value="personal_statement_form" selected>자기소개서</option>
                  <option value="project">프로젝트</option>
                </select>
              </div>

              <!-- #################################### -->
              <!-- # personal statement section start # -->
              <div id="personal-statement-section">
                <div class="custom-form-group" style="margin-top: 0;">
                  <label for="introduction-article" class="custom-label">자기소개서 항목을 입력해주세요.</label>
                  <input type="text" id="introduction-article" class="form-control custom-form-control"
                    placeholder="예: 본 직군으로 지원을 결정하시게 된 계기를 작성해 주세요." required>
                </div>
                <div class="custom-form-group">
                  <label for="personal_statement" class="custom-label">자기소개서를 입력해주세요.</label><span
                    class="custom-label custom-span">(최대 2,000자)</span>
                  <textarea id="personal_statement" class="form-control custom-form-control" rows="12"
                    style="font-size: 0.7rem;" placeholder="자기소개서 내용을 입력해주세요." required
                    oninput="updateCounter(this, 2000, 'personal_counter')" required></textarea>
                  <div id="personal_counter" style="text-align: right; font-size:0.7rem;"></div>
                </div>
              </div>
              <!-- # personal statement section end # -->
              <!-- ################################## -->

              <div id="project-section" style="display:none;">
                <div class="custom-form-group">
                  <label for="project_title" class="custom-label">프로젝트 제목을 입력해주세요.</label>
                  <input type="text" id="project_title" class="form-control custom-form-control"
                    placeholder="예: AI기반 면접 질문 생성 서비스 개발 프로젝트" required>
                </div>
                <div class="custom-form-group">
                  <label for="project_description" class="custom-label">프로젝트 설명을 입력해주세요.</label><span
                    class="custom-label custom-span">(최대 2,000자)</span>
                  <textarea id="project_description" class="form-control custom-form-control" rows="12"
                    style="font-size: 0.7rem;" placeholder="프로젝트에 대한 설명을 입력해주세요."
                    oninput="updateCounter(this, 2000, 'description_counter')" required></textarea>
                  <div id="description_counter" style="text-align: right;"></div>
                </div>
              </div>

              <button type="submit" class="btn-primary" id="generate-button"
                style="padding: 5px 0px;width: -webkit-fill-available;margin: 0px 1rem;">질문 생성</button>
              <div id="loading-message" style="display: none;">
                <span class="custom-form-control">질문을 생성 중입니다, 잠시만 기다려주세요.<br>이 작업은 평균 30초가 소요됩니다.</span><br>
                <div class="spinner-border text-primary" role="status" style="width:1rem; height:1rem;">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>
            </form>
            <div id="questions" class="mt-4 accordion" style="padding: 1rem;"></div>

            <div class="justify-content-between mt-3" id="save-button-div"
              style="display:none !important; float: left; margin-left: 1rem;">
              <button type="button" class="btn-info custom-form-group" id="copy-to-clipboard"
                style="margin: 10px 5px 10px 5px;padding: 5px;">결과 복사</button>
              <button type="button" class="btn-info custom-form-group" id="save-question-image"
                style="margin: 10px 5px 10px 5px;padding: 5px;">결과 이미지 저장</button>
            </div>

          </main>
          <!-- # Main Section End # -->
          <!-- #################### -->


          <!-- ########################## -->
          <!-- # Features Section Start # -->
          <div id="featuresContent" style="display: none;" class="custom-form-group inner cover shadow p-3 mb-4 bg-white rounded">
            <h3>안녕하세요, 당면행 개발자 이준형입니다.</h3><hr>

            <p style="text-align: left; font-size:smaller">
              우선, 제가 개발한 서비스를 사용해주셔서 정말 감사드립니다.<br><br>

              당면행은 "당신의 면접에 행운이"의 줄임말로, 자기소개서 기반 면접 질문을 생성해주는 서비스입니다.<br>
              1. Openai API의 GPT3.5-Turbo 모델을 활용하였습니다.<br>
              2. 입력하신 내용을 최대한 꼼꼼하게 검토하여 면접 질문을 생성하도록 최적화 되어있습니다.<br>
              3. 자기소개서 데이터는 수집하지 않고 있습니다.<br>
              4. "직무" 입력란은 100자를 초과하여 입력할 수 없도록 설계되어 있습니다.<br>
              5. "자기소개서 항목", "프로젝트 제목" 입력란은 300자를 초과하여 입력할 수 없도록 설계되어 있습니다.<br>
              6. "자기소개서 내용", "프로젝트 내용" 입력란은 2000자를 초과하여 입력할 수 없도록 설계되어 있습니다.<br>
              7. 개인이 서비스를 운영하다보니 불가피하게 광고를 삽입하게 되었습니다. 양해 부탁드리겠습니다 <br>
              &nbsp;&nbsp;&nbsp;(서비스 유지비가 많이 듭니다 ㅠㅠ)<br>

              <br><br>서비스 사용 중 불편한 점이나, 개선사항 등 피드백은 언제나 환영입니다.
              <br>Email: weakness@kakao.com
              
              <br><br>커피 한잔 후원해주신다면 더 나은 서비스를 제공하는데 큰 힘이 됩니다.<br>
              <a href="https://toss.me/당면행개발자" target='_blank' style="color:black">후원하기</a><br>
              
          </p>
          <hr><h5>최종 합격까지 진심으로 응원합니다.</h5>
          </div>
          <!-- # Features Section End # -->
          <!-- ######################## -->
        </div>
      </div>
    </div>


    <!-- ################ -->
    <!-- # Footer Start # -->
    <footer>
      <div class="footer-content">
        <h3>Developed by Lee Junhyung</h3>
        <p>합격을 응원합니다.</p>
      </div>
      <div class="footer-bottom">
        <p style="margin:0;">copyright &copy; <a
            href="https://github.com/with-developer/Interview-Question-Generator/blob/main/LICENSE">이준형 (MIT
            License)</a> </p>
      </div>

    </footer>
    <!-- # Footer End # -->
    <!-- ############## -->

  </div>

  <script src="{{ url_for('static', filename='controller.js') }}"></script>

</body>

</html>